@import url('https://fonts.googleapis.com/css?family=Concert+One|Sigmar+One&display=swap');

$mainFont: 'Concert One';
$headerFont: 'Sigmar One'; 

$mainColor: #e45580;
$green: #80e455;
$blue: #55abe4;
$orange: #e48755;

$sectionBlue: #3498db;

$redLetter: #dd0916;
$blueLetter: #017ed0;
$yellowLetter: #f7ed00;

$menuBg: rgb(37, 55, 115);
$menuLi: #4F5A80;
$menuCurrent: #9EB5FF;