@import url('https://fonts.googleapis.com/css?family=Concert+One|Sigmar+One&display=swap');

$mainFont: 'Concert One';
$headerFont: 'Sigmar One'; 

$main-color: #e45580;
$green: #80e455;
$blue: #55abe4;
$orange: #e48755;

$sectionBlue: #3498db;

$red_letter: #dd0916;
$blue_letter: #017ed0;
$yellow_letter: #f7ed00;

$menu_bg: rgb(37, 55, 115);
$menu_li: #4F5A80;
$menu_current: #9EB5FF;