@import "variables";
@import "mixins";
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $mainFont;
  background: url("../img/bg-desktop.png");
}
main {
  transition: margin-left 0.4s cubic-bezier(0.1, 0.58, 0.33, 0.83);
  margin-left: 0;
  &.navExpanded {
    transition: margin-left 0.7s cubic-bezier(0.1, 0.58, 0.33, 0.83);
    margin-left: 300px;
  }
}
header {
  background-image: url("../img/bg-header.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  padding: 4rem;
  text-align: center;
}
ol {
  list-style: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90%;
}
.header__text {
  position: absolute;
  top: 5rem;
  right: 2rem;
  padding: 1rem 2rem;
  text-shadow: 2px 2px 3px black;
  h1 {
    margin-top: 0;
  }
  h2 {
    margin: 12px 0;
    font-size: 1.8rem;
  }
  .header__icon {
    transition: 0.5s;
    &:hover,
    &:active,
    &:focus {
      color: $sectionBlue;
    }
  }
}
.header__button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  font-size: 2rem;
  a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 3px black;
  }
  .landing_icon {
    color: white;
    text-shadow: 2px 2px 3px black;
    position: relative;
    font-size: 18px;
    margin-right: 4px;
    position: relative;
    transition: all 0.7s;
  }
}
.header__excla {
  transition: 0.3s;
}

.nav__title {
  @include center;
  flex-direction: column;
  padding: 0.9rem 0;
  background: $menuBg;
  color: white;
  text-shadow: 0 0 5px black;
  width: 100%;
  overflow-x: hidden;
  h3 {
    margin: 0;
    font-family: $navHeaderFont;
    font-size: 1.8rem;
    letter-spacing: 0.1px;
  }
}
.nav__search {
  @include center;
  flex-direction: column;
  justify-content: space-between;
  background: $menuBg;
  color: white;
  font-size: 1.2rem;
  text-shadow: 0 0 2px black;
  label {
    padding: 0.5rem 0;
  }
  input {
    display: inline-block;
    height: 25px;
    font-size: 0.9rem;
    transition: 0.1s;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 2px black;
    &:hover {
      box-shadow: 0 0 5px black;
      border: none;
    }
  }
}

.nav__search--p {
  padding-top: 0.2rem;
}

.nav a {
  // padding: 8px 8px 8px 32px;
  padding: 10px 0;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  &:hover {
    color: #f1f1f1;
  }
  &.current {
    background: #848ca6;
    color: black;
    border-radius: 5px;
    // border-left: 5px solid white;
  }
}
.nav .nav__closeBtn {
  font-size: 36px;
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  background: $menuBg;
}

.nav__openBtn {
  font-size: 30px;
  width: 40px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 10px;
  border: none;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  opacity: 1;
  transition: 0s;
  &:hover {
    background-color: #444;
  }
}
.red {
  color: $redLetter;
}
.blue {
  color: $blueLetter;
}
.yellow {
  color: $yellowLetter;
}

.section__header {
  font-family: $headerFont;
  font-size: 2rem;
  text-shadow: 2px 2px 3px gray;
  letter-spacing: 0.35px;
  font-weight: 300;
  margin-bottom: 3rem;
}
section,
article {
  padding: 2rem;
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.with__dividers {
    background: $sectionBlue;
    margin-bottom: 0;
    .song__container {
      background: #ffaf3d;
    }
    .section__header {
      text-shadow: 2px 2px 3px black;
      color: white;
      margin-top: 0;
    }
  }
}
.song__container {
  background: #cacaca;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid gray;
  box-shadow: 0 0 3px darkgray;
  height: 120px;
  margin: 1rem 0;
  font-size: 1.2rem;
  .song__title{
    color: black;
    font-weight: 300;
    font-size: 1.3rem;
    padding-left: 1rem;
    width: 500px;
  }
  &.with__dividers > .song__title{
    color: white;
  }
  img{
    height: 100%;
    width: auto;
    line-height: 100%;
    text-align: center;
  }
}

.deezer {
  padding-right: 1rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btnPlay {
  width: 100px;
  height: 52px;
  background: inherit;
  margin-left: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: darkgreen;
  text-decoration: none;
}

#svg2 {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.fa-play {
  position: absolute;
  z-index: 10;
  color: black;
  -webkit-transition: all .5s;
  transition: all .5s;
}

svg {
  display: block;
}
#curveUpColor path,
#curveDownColor path,
#curveUpColorResult path {
  fill: $sectionBlue;
  stroke: $sectionBlue;
  box-sizing: border-box;
}

.svg__clouds {
  fill: white;
  stroke: white;
  box-sizing: border-box;
}

.section--blue {
  background: #3498db;
}

footer {
  font-family: "Ubuntu Condensed";
  font-weight: normal;
  background: white;
  text-align: end;
  text-shadow: 0 0 3px white;
  padding-right: 2rem;
  .footer__citat {
    font-family: "Indie Flower";
    font-weight: bolder;
    font-style: italic;
  }
  h3,
  h4 {
    text-align: end;
    padding: 1rem 0;
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-weight: normal;
  }

  .fa-heart {
    color: #3498db;
    padding: 0 2px;
    transition: 0.4s;
    &:hover,
    &:focus,
    &:active {
      color: $redLetter;
    }
  }
  .fa-github {
    font-size: 25px;
    transition: 0.4s;
    margin: 0 5px;
  }
  .github__link {
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
}

@import "rwd";
